$primary-color: blue;

.mainContainer {
    padding: 20px;
    background: #f8f9fa;
}

.chart-container {
    text-align: center;
    margin: 20px auto;
    max-width: 450px;
}

svg {
    display: block;
    margin: auto;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
}
